
    .main_navhamber{
        width: 100%;
        height: 100vh;
        background-color: white;
        transform: translateX(100%);
        transition: all ease 0.3s;
        position: absolute;
        z-index: 999;
        & .nav_hamber-item button{
            font-weight: bold;
        }

        & a{
            text-decoration: none;
            }
        & .close_nav{
            z-index: 99999;
            color: rgb(92, 92, 92);
            font-size: 1.2rem;
            margin: 5px;
        }
        & .nav_hamber-item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0;
            height: 50%;
            width: 90%;
            margin:auto;
           & button{
               display: flex;
           justify-content: center;
               width: 90%;
               margin: 10px auto;
           }
        };

      }
       #nav_hamber{
          display: none;
      }
       #nav_hamber:checked ~ .body_Page{
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100vh;
    }
     #nav_hamber:checked ~ .main_navhamber{
        transform: translateX(0);
        transition: all ease 0.3s;
      }


 