.Checkout_com {
  & p {
    margin: 6px 0;
  }
  padding: 150px 0;
  & .Checkout_com_Title {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    & .fa-file {
      line-height: 2rem;
      font-size: 1.3rem;
      padding: 0 5px;
      color:  var(--color-main);
    }
  }
  & .checkout__body {
    width: 80%;
    display: flex;
    margin: 0 auto;
    & .body__Pay {
      flex: 1;
      margin: 0 40px;
      & .type_buy {
        & .type {
          display: flex;
          justify-content: space-between;
          margin: 0 5px;
        }
      }

      & .input_address {
        width: 90%;
        margin: 0 auto;
        & .input_info {

          border:  2px solid var(--color-main);
          border-radius: 5px;
          margin: 5px 0;
          & input {
            display: block;
            width: 90%;
            height: 35px;
            margin: 5px auto;
            border: none;
            background: none;
            outline: none;
          
          }
        }
      }
      & .info_type {
        display: flex;

        & .info_imgType {
          width: 150px;

          & img {
            width: 120px;
            width: 120px;
            padding: 10px;
            object-fit: cover;
            border-top: 2px solid  var(--color-main);
          }
        }
        & .info_des {
          flex: 1;
          & .location {
            border-bottom: 1px solid rgba(196, 196, 196, 0.356);
          }
        }
      }
    }
    & .body__bill {
      position: relative;
      flex: 1;
      box-shadow: 2px 0px 15px 5px rgb(228, 227, 227);
      border-radius: 20px;
      & .btn_delete {
        width: fit-content;
        color:  var(--color-main);
        &:hover {
          color: orangered;
        }
      }
      & .bill {
        display: flex;
        justify-content: space-between;
        margin: 5px 10px;
        padding: 5px 0;
      }
      & .list__bill {
        padding: 0;
        height: 335px;
        overflow-y: scroll;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #cececea3;
        & .list__bill-Iteam {
          display: flex;
          justify-content: space-around;
          padding: 10px 0;
          border-bottom: 1px solid rgba(204, 204, 204, 0.342);
          cursor: pointer;

          & .list_price,
          .list_fix {
            line-height: 75px;
            padding: 0 20px;

            color:  var(--color-main);
          }
          & .list_fix {
            font-size: 2rem;
          }

          & .list_text {
            width: 325px;
            max-width: 325px;
            white-space: nowrap;
            width: 325px;
            max-width: 325px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    & .Total {
      margin: 0 20px;
      & .thanhtien {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(204, 204, 204, 0.651);
        color:  var(--color-main);
      }
    }
    & .khuyenmai {
      height: 60px;
      line-height: 60px;
      & i {
        line-height: 70px;
      }
      &:hover {
        color:  var(--color-main);
      }
    }
    & .dathang {
      background-color:  var(--color-main);
      position: relative;
      height: 100px;
      font-weight: bold;
      width: calc(100% + 40px);
      color: white;
      left: -20px;
      bottom: -5px;
      border-radius: 0 0 10px 10px;
      & .btn_dathang {
        background-color: white;
        width: 100px;
        height: 40px;
        margin: auto 0;
        border-radius: 20px;
        text-align: center;
        border: 2px solid rgb(190, 190, 190);
        color: rgb(155, 155, 155);
        font-weight: 500;
        cursor: pointer;
        &:hover {
          color: rgb(0, 0, 0);
        }
      }
    }
  }
  & p.type_Name,
  p.bill_Name {
    font-size: 1.3rem;
    font-weight: 600;
  }
  & .pay_for {
    margin-bottom: 60px;
    .checkpay {
      height: 40px;
      line-height: 40px;
      display: flex;
      & input {
        margin: auto 0;
        width: 15px;
        height: 15px;
        filter:  var(--color-main);
      }

      & label {
        flex: 1;
        border-bottom: 1px solid rgba(187, 187, 187, 0.301);
      }
      & img {
        width: 20px;
        height: 20px;
        margin: auto 20px;
      }
    }
  }
  & .agree {
    font-size: 1rem;
    & a {
      color:  var(--color-main);
    }
  }
  & .delete_Bill {
    position: absolute;
    bottom: -50px;
    width: 100%;
    color:  var(--color-main);
    & > p {
      width: fit-content;
      margin: 0 auto;

      &:hover {
        color: rgb(255, 81, 0);
      }
    }
  }
}
.change_type,
.add_item {
 
  
  & a {
    text-decoration: none;
   
  }
  & p {
    color: rgb(61, 110, 69);
    margin: 0;
    padding: 6px;
    border:  2px solid var(--color-main);
    border-radius: 50px;
    &:hover {
      background-color:var(--color-main);
      color: white;
    }
  }
}
.list__bill::-webkit-scrollbar {
  border-radius: 20px;
  width: 4px;
}

/* Track */
.list__bill::-webkit-scrollbar-track {
  border-radius: 1px;
}

/* Handle */
.list__bill::-webkit-scrollbar-thumb {
  background:  var(--color-main);
  opacity: 0.8;
  border-radius: 10px;
}

/* Handle on hover */
.list__bill::-webkit-scrollbar-thumb:hover {
  background:  var(--color-main);
  opacity: 0.8;
}
