.UpdateSale{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    height: 88%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(170, 170, 170);
    & #inputFile {
        display: none;
    }
    & .inputFileLabel{
        width: 100%;
        z-index: 9999;
    }
    & .dataUpdate{
        width:60%;
        height: 70%;
        display: block;
        margin: 0 auto;
        border: 1px solid rgba(190, 190, 190, 0.39);
        border-radius: 5px;
        overflow: scroll;;
     
    }
    & .inputData{
        width: 70%;
        margin: 10px auto;
      & .description{
        color: rgb(116, 115, 115);
      }
      & input,textarea,.box_input,select{
        margin: 10px auto;
     color: rgb(116, 115, 115);
     border: 2px solid rgb(42, 114, 72);
     &:focus{
         box-shadow: 0 0 0 0.25rem rgba(20, 92, 37, 0.658);
     }
    }
    }
    & .box_input {
      
        width: 100%;
        height: 200px;
        border: 2px solid rgb(92, 168, 212);
        border-radius: 5px;
        position: relative;
        color: rgb(80, 191, 255);

        & .img_preview {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
            object-position: center;
            z-index: 11;
        }
        & .textUpload{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
        & .iconUpLoad {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
            opacity: 0.6;
            z-index: 0;
            &:hover {
                opacity: 1;
            }
        }
    }
}