
.Admin {
  font-size: 0.90rem;
  font-weight: bold;
  font-family: 'Segoe UI', 'Arial';
  box-sizing: border-box;
  & p{
    margin: 0;
  }
  & .header {
    
    & .background-top,
    .nav-top {
      height: 70px;
    }
  
    & .nav-top {

      background-image: url("https://assets-global.website-files.com/55e67eeba2e73cb76514f165/5987c3116dccc600016b682d_Webflow%20Elements.png");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      box-shadow: 2px 5px 6px #7575;
      & .img_user img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid white;
      }
       & .fa-sign-out{
         font-size: 30px;
         position: absolute;
         top:50% ;
        right: 5%;
         transform: translateY(-50%);
         color: rgba(255, 255, 255, 0.637);
         transition: all ease 0.2s;
         &:hover{
          color: rgb(255, 255, 255);
          transition: all ease 0.2s;
         }
       }
      & .logo {
        position: absolute;
        left: 4%;
        top: 0;
        margin-top: -5px;
        & path{
          fill: rgb(255, 255, 255);
        }
      }
      & .logo svg {
        width: fit-content;
        position: absolute;
        top: 0;
        left: 0;
      }
      & .img_user {
        color: rgb(255, 255, 255);
       font-size: 1rem;
        position: absolute;
        right: 12%;
        top: 50%;
        transform: translateY(-50%);
        & span {
          padding: 0 5px;
          font-size: 0.8rem;
        }
      }
     
    }
  }
  & .Admin_main {
    
    display: flex;
    position: relative;
    color: white;
    & #nav_admin{
      display: none;
    }
    & #nav_admin:checked ~ .main_menu{
      transform: translateX(0%);
      transition: transform ease 0.3s;
    }
    & .bar_admin{
      
      position: absolute;
      z-index: 99;
      width: 40px;
      height: 40px;
      background-color: white;
      box-shadow: 0px 0px 5px #c7c7c7;
      color: rgb(37, 37, 37);
      border-radius: 10px;
      font-size: 1.4rem;
      display: flex;
      margin: 5px;
      justify-content: center;
      line-height: 40px;
      visibility: hidden;

    }

    & .close_admin{
      visibility: hidden;
      position: absolute;
      top:0px;
      right: 5px;
        & p{
     
        font-size: 1.3rem;
        }
    }
    & .main_menu {
      
      padding: 5% 2% 2% 1%;
      flex: 1;
      overflow-y: scroll;
      background-image: url("https://assets-global.website-files.com/55e67eeba2e73cb76514f165/5987c3116dccc600016b682d_Webflow%20Elements.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100vh - 70px);
      
 
      & .fa-chevron-right{
        position: absolute;
        right: 3px;
         line-height: 40px;
        transition: transform ease 0.3s;
      }
      & .icon {
        padding: 0 5px;
      }
      & .Title_Section {
        position: relative;
        // opacity: 0.7;
        margin: 0;
        line-height: 40px;
        &[aria-expanded=true] .fa-chevron-right {
          transform:rotate(90deg);
          transition: transform ease 0.3s;
        }
      }
      & ul {
        margin: 0;
        border-left: 2px solid rgba(250, 249, 249, 0.74);
        list-style: none;
        padding-left: 10px;
        margin-left: 10px;
   
        & .tag_menu {
          
          color: #fffffff1;
          background-color: #f1f1f128;
          &.active {
            background-color: #ffffffe8;
            color: #4b91ff;
          }
        }
        & li {
          border-radius: 4px;
          padding: 5px 5px 5px 30px;
          
        }
      }
    }
    & .body_render {
      flex: 5;
      position: relative;
      width: 80%;
      height: calc(100vh - 70px);
    }
  }
}
.css-wjh20t-MuiPagination-ul {
  bottom: 15px;
}