.Page.navigation {
  position: absolute;
  top: 0px;
  right: 2.3%;
}
.nav-item button {
  color: #000000;
  font-weight: bold;
  &:hover{
    color: rgb(139, 139, 139);
  }
}
.nav {
  padding-left: 40px;
  margin-bottom: -40px;
  margin-top: 20px;
}
.css-wjh20t-MuiPagination-ul{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.body_page {
  // max-width: 930px;
  box-shadow: 1px 1px 5px rgb(168, 168, 168);
  margin: 40px auto;
  width: 95%;
  height: fit-content;
  max-height: calc(100% - 120px);
  padding: 0 20px;
  border-radius: 10px;
  background: white;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    border-radius: 20px;
    width: 6.5px;
    height: 6.5px;
    background-color: white;
  }
  & .itemTable {
   font-weight: 500;
    height: fit-content;
    width: 100%;


    & .text_over{
      max-width: 200px;
      min-width: 200px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & tr {
      line-height: 70px;
      white-space: nowrap;
      & p {
        overflow: hidden;
         white-space: nowrap;
      }
    }
    & button {
      font-weight: 600;
      border-width: 2px;
      color: rgb(85, 85, 85);
    }
    & tbody {
      height: 20vh;
      overflow: scroll;
      & .btn{
        white-space: nowrap;
      }
      & tr {
        opacity: 0.9;
        & td {
          border-bottom: 1px solid  rgba(120, 128, 146, 0.514);
          padding:0 10px ;
          
        }
        &:hover td{
          background-color: #e7e7e757;
          color: rgb(70, 109, 182) !important ;
    
          & .btn {
            color: rgb(14, 68, 139);
            &:hover{
              color: rgb(255, 255, 255);
            }
          }
          & .status {
            &.status-delivering {   color: rgb(236, 236, 236);}}
        }
        &:last-child {
          border-radius: 0 0 5px 5px;
        }
      }
      & tr:nth-child(even) td {
   
        color: rgb(201, 114, 0);
        box-shadow: 2px 2px 5px rgb(184, 184, 184);
      }
    }
    & .headerTable th {
      border-bottom: 1px solid  rgba(95, 158, 160, 0.459);
      text-shadow:0 0px 0.5px rgb(43, 42, 42);
      color: rgb(36, 36, 36);
      padding: 0 10px;
      white-space: nowrap;
      position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
      position: sticky;
      top: -1px;
      z-index: 1; // any positive value, layer order is global
      background-color: #fff;
      &:first-child {
        border-radius: 5px 0 0 0;
      }
      &:last-child {
        border-radius: 0 5px 0 0;
      }
    }

    & .status {
      &.status-delivering {
        color: #688b9b;
      }
    }
  }
}
